@model LibraryProject.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<table-name name="Delete"/>
<h4>If you delete this You won't be able to restore it!</h4>
<div>
    <hr />
    <div class="selectSize">
        <table class="table table-dark">
            <thead>
                <tr>
                    <td bold>
                        @Html.DisplayNameFor(model => model.Title)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Title)

                    </td>
                </tr>
                <tr>
                    <td bold>
                        @Html.DisplayNameFor(model => model.YearOfPublish)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.YearOfPublish)

                    </td>
                </tr>
                <tr>
                    <td bold>
                        @Html.DisplayNameFor(model => model.Quantity)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Quantity)

                    </td>
                </tr>
                <tr>
                    <td bold>
                        @Html.DisplayNameFor(model => model.Author)


                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Author.NameAndSurnameConcatenated)


                    </td>
                </tr>
            </thead>
        </table>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="redButton" />
    </form>
</div>
