@model IEnumerable<LibraryProject.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <div>
        <h1 class="float-left">Books</h1>

    </div>
    <div>
        <a asp-action="Create"><button class="btn btn-info">Create new</button></a>

    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfPublish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name) @Html.DisplayFor(modelItem => item.Author.Surname)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-info">Edit</button></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
