@model LibraryProject.Models.Author

@{
    ViewData["Title"] = "Details";
}

<table-name name="Details" />
<div class="selectSize">
    <table class="table table-dark">
        <thead>
            <tr>
                <td bold>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td bold>
                    @Html.DisplayNameFor(model => model.Surname)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Surname)
                </td>
            </tr>
            <tr>
                <td bold>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </td>
            </tr>
        </thead>
    </table>
</div>