@model IEnumerable<LibraryProject.Models.Author>

@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-between">
    <div>
        <h1 class="float-left">Authors</h1>

    </div>
    <div>
        <a asp-action="Create"><button class="btn btn-info">Create new</button></a>

    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-info">Edit</button></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
